.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 7vw;
}

.main-btn {
  padding: 10px 40px;
  border-radius: 35px;
  background-color: black;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.main-btn:hover {
  border: solid 1px black;
  background-color: white;
  color: black;
}

.second-btn {
  padding: 10px 40px;
  border-radius: 35px;
  border: solid 1px black;
  background-color: white;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.second-btn:hover {
  background-color: black;
  color: white;
}
