/* .blue-rectangle {
  width: 60px;
  height: 40px;
  background-color: aquamarine;
} */

.project {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.project-infos {
  margin-right: 5vw;
}

.role {
  margin-bottom: 3vh;
}

.project {
  margin-bottom: 10vh;
}

.project-caroussel {
  width: 50vw;
  height: 50vh;
  margin: auto 0;
}

@media (max-width: 991px) {
  .project {
    flex-direction: column;
    margin-bottom: 50px;
  }
  .project-infos {
    margin-right: 0;
    margin-bottom: 50px;
  }
  .project-caroussel {
    width: 600px;
    height: 320px;
    margin: auto 0;
  }
}
