.programming-languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10vh 15vw;
  flex-wrap: wrap;
}

.language {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.language img {
  height: 8vh;
}
