
/* Importing all components file */
@import url("components/navbar.css");
@import url("components/main_presentation.css");
@import url("components/buttons.css");
@import url("components/projects.css");
@import url("components/skills.css");
@import url("components/education.css");
@import url("components/contact.css");

/* General for fonts and colors */
body {
  background-color: white;
  font-family: 'Raleway', sans-serif !important;
}

h1, h3, h4 {
  font-family: 'PT Serif', serif !important;
}

p {
  text-align: justify;
}

.gray {
  color:rgb(173, 173, 173);
}

.category-title {
  margin-bottom: 12vh;
  margin-top: 12vh;
}

.category-title h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .container {
  margin: 0 20vw;
} */

@media (max-width: 991px) {
  .category-title {
    margin-bottom: 70px;
    margin-top: 100px;
  }
}
