
/* Importing all components file */
@import url("components/navbar.css");
@import url("components/main_presentation.css");
@import url("components/buttons.css");

/* General for fonts and colors */
body {
  background-color: white;
  font-family: 'Raleway', sans-serif !important;
}

h1 {
  font-family: 'PT Serif', serif !important;
}

p {
  text-align: justify;
}

.gray {
  color:rgb(173, 173, 173);
}

/* .container {
  margin: 0 20vw;
} */
